.title {
    color: red;
}

.content {
    display: flex;
}

.img1 {
    background-image: url(./1.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 365px;
    height: 261px;
}